@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    src: local('☺'),url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/NanumGothic-Regular.woff') format('woff');
}

html,body {margin:0;padding:0;height: 100%}
body { font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;color:#333}
label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a:active {color:red}
a:hover{color:blue;text-decoration:underline;}
a img {border:none}

h1 {font-size :160%}
h2 {font-size :140%}
h3 {font-size :120%}
h4,h5,h6 {font-size : 100%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

.btn {font-size:1em}

#mom {margin:-6em 0 -3em}
#main {padding-top:6em;padding-bottom:3em}

table th {background:#333;color:#fff}
header {background:#ccc;height:6em}
header nav { position: relative; z-index: 999; margin:0; padding:0}
header nav ul { float: right; margin: 1.5em 0 0 0; padding: 0}
header nav li { float: left; list-style: none; margin: 0 0 0 20px}
header nav ul.nav-pills > li + li {margin-left:20px}
header nav a { float: left; color: #333;text-decoration: none}

footer {height:3em;background:#ccc;clear:both}
footer address {text-align:center;margin:0.7em 0 0}
footer address a {color:#333}
footer nav {float:left;margin:1em}
footer form {float:right;margin:5px 0 0;padding:0}

#directory_selector {width:150px}
#sl_ftp_connect,#sl_error_page,#sl_rename_form {background:#eee}
#sl_ftp_connect article,#sl_error_page article,#sl_rename_form article {width:728px;margin:3% auto}
#sl_ftp_connect article {background:#fff}
#sl_error_page article {padding:1% 2%}
#sl_ad {margin:3% auto;width:728px;}
#file_list form {float:left;margin-right:5px}

#create_menu li {list-style: none;display:inline-block;}

footer form {float:right}

@media all and (max-width: 768px) {
  html,body {background:#ccc}

  #mom,#main {margin:0;padding:0}
  #directory_info {margin:10px 0}
	header {background:none;border-bottom:0;margin:0}
	header h1 {margin:2%;padding:0;font-size:1.6em}
	header h1 a {float:left;background:none;text-indent:0;width:100%;font-weight:bold}
	header h1 a:hover {text-decoration:none}
	header h1 a:active {color:red}
	header nav.col-xs-12 {width:100%;margin:0;padding:0}
	header nav ul.nav-pills > li + li {margin-left:0}
	header nav ul li a:hover {text-decoration:none}
	header nav ul li a:active {color:red}
	header nav ul li a .glyphicon {margin-right:1em}
	.nav-pills > li + li {margin:0}
  .nav-pills {width:100%;margin:0;padding:0;background:#fff;border-radius:5px}
	.nav-pills li {margin:0;padding:0}
	.nav-pills li,.nav-pills li a {clear:both;float:left;width:100%;text-align:left}
  .nav-pills li a.btn {display:block;font-size:14px;border-bottom:1px solid #f3f3f3;text-indent:1em;padding:10px;border-radius:5px;text-align:left;white-space:normal;}
  footer .btn {width:100%;margin:7px 0 0}
  footer form {width:100%}
}

@media all and (min-width: 768px) {
  #mom{min-height:100%;clear:both;float:left;width:100%;padding:0}
  #directory_info {margin:1em 0 0;padding:0 15px}
  #create_menu {margin:15px 0;padding:0 15px}
}

@media all and (min-width: 768px) and (max-width: 991px) {
  header {height:5em}
  header nav ul {margin:10px 0 0}
	footer {height:3em}
  footer dl {margin:10px 0 0}
	#mom {margin:-5em 0 -3em;min-height:100%}
	#main {padding-top:5em;padding-bottom:3em}
}

@media all and (min-width: 992px) {
  html,body {font-size:14px}
}

@media all and (min-width: 992px) and (max-width: 1199px) {

}

@media all and (min-width: 1200px) {
	.adsbygoogle {height: 100px}
  footer form {margin:5px 0 0}
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .adsbygoogle {height: 110px}
}

@media (min-width: 1500px) {
  html,body {font-size:18px}
  .adsbygoogle {height: 140px}
  .container {width:1500px}

  .hidden-lg {
      display: none !important;
  }

  .visible-xl-block,
  .visible-xl-inline,
  .visible-xl-inline-block,
  .visible-xl{
      display: none !important;
  }

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }

    .col-xl-12 {
        width: 100%;
    }

    .col-xl-11 {
        width: 91.66666667%;
    }

    .col-xl-10 {
        width: 83.33333333%;
    }

    .col-xl-9 {
        width: 75%;
    }

    .col-xl-8 {
        width: 66.66666667%;
    }

    .col-xl-7 {
        width: 58.33333333%;
    }

    .col-xl-6 {
        width: 50%;
    }

    .col-xl-5 {
        width: 41.66666667%;
    }

    .col-xl-4 {
        width: 33.33333333%;
    }

    .col-xl-3 {
        width: 25%;
    }

    .col-xl-2 {
        width: 16.66666667%;
    }

    .col-xl-1 {
        width: 8.33333333%;
    }

    .col-xl-pull-12 {
        right: 100%;
    }

    .col-xl-pull-11 {
        right: 91.66666667%;
    }

    .col-xl-pull-10 {
        right: 83.33333333%;
    }

    .col-xl-pull-9 {
        right: 75%;
    }

    .col-xl-pull-8 {
        right: 66.66666667%;
    }

    .col-xl-pull-7 {
        right: 58.33333333%;
    }

    .col-xl-pull-6 {
        right: 50%;
    }

    .col-xl-pull-5 {
        right: 41.66666667%;
    }

    .col-xl-pull-4 {
        right: 33.33333333%;
    }

    .col-xl-pull-3 {
        right: 25%;
    }

    .col-xl-pull-2 {
        right: 16.66666667%;
    }

    .col-xl-pull-1 {
        right: 8.33333333%;
    }

    .col-xl-pull-0 {
        right: auto;
    }

    .col-xl-push-12 {
        left: 100%;
    }

    .col-xl-push-11 {
        left: 91.66666667%;
    }

    .col-xl-push-10 {
        left: 83.33333333%;
    }

    .col-xl-push-9 {
        left: 75%;
    }

    .col-xl-push-8 {
        left: 66.66666667%;
    }

    .col-xl-push-7 {
        left: 58.33333333%;
    }

    .col-xl-push-6 {
        left: 50%;
    }

    .col-xl-push-5 {
        left: 41.66666667%;
    }

    .col-xl-push-4 {
        left: 33.33333333%;
    }

    .col-xl-push-3 {
        left: 25%;
    }

    .col-xl-push-2 {
        left: 16.66666667%;
    }

    .col-xl-push-1 {
        left: 8.33333333%;
    }

    .col-xl-push-0 {
        left: auto;
    }

    .col-xl-offset-12 {
        margin-left: 100%;
    }

    .col-xl-offset-11 {
        margin-left: 91.66666667%;
    }

    .col-xl-offset-10 {
        margin-left: 83.33333333%;
    }

    .col-xl-offset-9 {
        margin-left: 75%;
    }

    .col-xl-offset-8 {
        margin-left: 66.66666667%;
    }

    .col-xl-offset-7 {
        margin-left: 58.33333333%;
    }

    .col-xl-offset-6 {
        margin-left: 50%;
    }

    .col-xl-offset-5 {
        margin-left: 41.66666667%;
    }

    .col-xl-offset-4 {
        margin-left: 33.33333333%;
    }

    .col-xl-offset-3 {
        margin-left: 25%;
    }

    .col-xl-offset-2 {
        margin-left: 16.66666667%;
    }

    .col-xl-offset-1 {
        margin-left: 8.33333333%;
    }

    .col-xl-offset-0 {
        margin-left: 0;
    }

    .visible-xl {
        display: block !important;
    }

    table.visible-xl {
        display: table;
    }

    tr.visible-xl {
        display: table-row !important;
    }

    th.visible-xl, td.visible-xl {
        display: table-cell !important;
    }

    .visible-xl-block {
        display: block !important;
    }

    .visible-xl-inline {
        display: inline !important;
    }

    .visible-xl-inline-block {
        display: inline-block !important;
    }

    .hidden-xl {
        display: none !important;
    }
}
