@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    src: local('☺'),url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/NanumGothic-Regular.woff') format('woff');
}

html,body {margin:0;padding:0;height: 100%}
body { font-family: "Nanum Gothic","나눔고딕","Malgun Gothic","맑은 고딕","굴림",gulim,"돋움",Dotum,Arial,Helvetica, sans-serif;color:#333}
label {vertical-align:middle;cursor:pointer}
a img {border:none}
input {vertical-align:middle}
fieldset {border:none}
legend {display:none}
a:active {color:red}
a:hover{color:blue;text-decoration:underline;}
a img {border:none}

h1 {font-size :160%}
h2 {font-size :140%}
h3 {font-size :120%}
h4,h5,h6 {font-size : 100%}

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

table th {background:#333;color:#fff}


header {background:#ccc}
header nav { position: relative; z-index: 999; margin:0; padding:0}
header nav ul { float: right; margin: 1.5em 0 0 0; padding: 0}
header nav li { float: left; list-style: none; margin: 0 0 0 20px}
header nav ul.nav-pills > li + li {margin-left:20px}
header nav a { float: left; color: #333; font-size:1.3em; text-decoration: none}
header nav a.btn-danger {color:#fff}
header nav a:hover {color:#000}
header nav a.btn-danger:hover{background:red}
header nav a:visited {color:#666}
header nav a.btn-danger:visited {color:#fff}
header nav a:active {color:red}
header nav ul li ul {position:absolute;display:none}
#mom {clear:both;float:left;width:100%;padding:0}
footer {background:#ccc;clear:both}
footer address {text-align:center}
footer nav {float:left}
footer form {float:left;margin:10px 0;padding:0}
footer dl {margin:10px 0;padding:0}


#directory_selector {width:150px}
#directory_info {padding:0 15px}

@media all and (max-width: 768px) {
	html,body {background:#ccc}
	header nav.container {width:100%;margin:0;padding:0}
	header nav ul {width:100%;margin:2% 0 0;padding:0;background:#fff;border-radius:5px}
	header nav ul li,header ul li a {clear:both;float:left;width:100%;text-align:left}
	header nav ul.nav-pills > li + li {margin-left:0}
	header nav ul li {margin:0;padding:0}
	header nav ul li a {display:block;border-bottom:1px solid #f3f3f3;text-indent:1em;padding:10px;border-radius:5px}
	header nav ul li a:hover {text-decoration:none;background:#eee}
	header nav ul li a:active {color:red}
	header nav ul li a .glyphicon {margin-right:1em}
	.nav-pills > li + li {margin:0}
	#mom {float:left;clear:both;width:100%;margin:0}
	#main {float:left;margin:0;padding:0;width:100%;padding:3%;border-radius:5px;background:#fff;}
	footer {background:#fff;border-radius:5px;width:100%;margin:1% 0}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	header {height:8em}
	footer {height:5em}
	#mom {margin:-8em 0 -5em;min-height:100%}
	#main {padding-top:8em;padding-bottom:5em}
}

@media all and (min-width: 1025px) {
	header {height:6em}
	footer {height:5em}
	footer nav {margin:1em}
	footer form {float:right}
	#mom {margin:-6em 0 -5em;min-height:100%}
	#main {padding-top:6em;padding-bottom:5em}
}
