<?php

namespace SleepingLion\SL_FTP\Config {

session_start();

define('DEBUG', 0);
define('ROOT_DIR', realpath(__DIR__ . DIRECTORY_SEPARATOR . '..'));
define('PUBLIC_DIR', ROOT_DIR . DIRECTORY_SEPARATOR . 'public');
define('TMP_DIR', PUBLIC_DIR . DIRECTORY_SEPARATOR . 'tmp');

/* Setting Your MAX Upload */
define('MAX_FILE_UPLOADS', 20);

/* Setting Your Upload Size */
define('MAX_FILE_SIZE', 20000000000);

/* Setting Your Upload Directory Name, It will be under TMP_DIR */
define('UPLOAD_DIR', 'uploads');

/* uncomment if use default connect only */
$sl_connect_info=array();
$sl_connect_info['host']='localhost';
$sl_connect_info['username']='sl_ftp';
$sl_connect_info['userpass']='sl_ftp1!';
$sl_connect_info['port']=21;
$sl_connect_info['ssl']=false;
$sl_connect_info['web_root_directory'] = '/';
$sl_connect_info['pasv']=true;


if (DEBUG==1) {
    error_reporting(E_ALL);
    ini_set('display_errors', 1);
} else {
    error_reporting(-1);
    ini_set('display_errors', 0);
}

if (!function_exists('_')) {
    throw new \Exception(_('Not Available Gettext Extensions'), 101);
}

/* i18n locale */
#$language = 'korean';
$language = 'english';

if (isset($_GET['language'])) {
    $language=$_GET['language'];
    $_SESSION['language']=$language;
} else {
    if (isset($_SESSION['language'])) {
        $language=$_SESSION['language'];
    }
}

switch ($language) {
    case 'korean':
        $locale= 'ko_KR.UTF-8';
        break;
    default:
        $locale = 'en_US.UTF-8';
}

putenv("LC_ALL=" . $locale);
setlocale(LC_ALL, $locale);
bindtextdomain('messages', __DIR__ . DIRECTORY_SEPARATOR . 'language');
textdomain('messages');
bind_textdomain_codeset('messages', 'UTF-8');


if (!file_exists(TMP_DIR)) {
    throw new \Exception(sprintf(_("Not exists TMP_DIR(%s)"), TMP_DIR), 102);
}

if (!is_writable(TMP_DIR)) {
    throw new \Exception(sprintf(_("Not Writable TMP_DIR(%s)"), TMP_DIR), 103);
}

if (isset($_GET['logout'])) {
    $_SESSION['sl_connect_info']=null;
}

if (empty($sl_connect_info['host'])) {
    if (isset($_SESSION['sl_connect_info'])) {
        $sl_connect_info['host']=$_SESSION['sl_connect_info']['host'];
        $sl_connect_info['username']=$_SESSION['sl_connect_info']['username'];
        $sl_connect_info['userpass']=$_SESSION['sl_connect_info']['userpass'];
        $sl_connect_info['ssl']=$_SESSION['sl_connect_info']['ssl'];
        $sl_connect_info['port']=$_SESSION['sl_connect_info']['port'];
    } else {
        if (basename($_SERVER["SCRIPT_FILENAME"])!='connect.php') {
            header('Location: ' .$sl_connect_info['web_root_directory'].'connect.php');
        }
    }
}

function bytesToSize1024($bytes, $precision = 2)
{
    $unit = array(_('Byte'), _('Kilo Byte'), _('Mega Byte'), _('Giga Byte'), _('Tera Byte'));
    return @round($bytes / pow(1024, ($i = floor(log($bytes, 1024)))), $precision) . ' ' . $unit[$i];
}
}
